.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 25px;
  color: red;
}

.App-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

#App-container-fluid {
  text-align: center;
  background-color: red;
  padding: 5px 5px 5px 5px;
  color: white;
}

.App-button {
  background-color: red;
  color: white;
}

#App-container {
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-image: url('/images/dominik-kiss-341291-unsplash.jpg');
  color: white;
  height: 100%;
}
.col{
  display: table-cell; 
  vertical-align: middle;
}

.col-container {
  display: table; 
  width:100%;
}

#question{
  height:50%;
  width: 50%;
  float: right;
  padding-right: 80px;
}

.game-section{
  height:50%;
  width: 50%;
  float: right;
}

.waves-effect {
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
